<p id="notice"><%= notice %></p>

<h1>Admin Booking Chats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_booking_chats.each do |admin_booking_chat| %>
      <tr>
        <td><%= admin_booking_chat.name %></td>
        <td><%= link_to 'Show', admin_booking_chat %></td>
        <td><%= link_to 'Edit', edit_admin_booking_chat_path(admin_booking_chat) %></td>
        <td><%= link_to 'Destroy', admin_booking_chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Booking Chat', new_admin_booking_chat_path %>
